:root {
	--eerie-black: rgba(29, 29, 29, 1);
	--gray-web: rgba(124, 124, 124, 1);
	--sunray: rgba(222, 165, 75, 1);
	--orange-yellow-crayola: rgba(242, 205, 93, 1);
	--cadet-grey: rgba(141, 167, 190, 1);
	--columbia-blue: rgba(205, 230, 245, 1);
	--ao-english: rgba(21, 127, 31, 1);
	--emerald: rgba(76, 185, 99, 1);
	--honey-yellow: rgba(247, 179, 43, 1);
	--blond: rgba(252, 246, 177, 1);
	--light-coral: rgba(246, 130, 140, 1);
	--mauvelous: rgba(245, 156, 169, 1);
	--cadet-blue: rgba(88, 164, 176, 1);
	--middle-purple: rgba(210, 130, 166, 1);
	--honolulu-blue: rgba(14, 107, 168, 1);
	--non-photo-blue: rgba(166, 225, 250, 1);
	--laser-lemon: rgba(252, 255, 108, 1);
	--yellow-green-crayola: rgba(215, 255, 171, 1);
	--flame: rgba(228, 87, 46, 1);
	--tiffany-blue: rgba(23, 190, 187, 1);
	--sunglow: rgba(255, 201, 20, 1);
	--green-ryb: rgba(118, 176, 65, 1);
	--royal-purple: rgba(114, 78, 145, 1);
	--african-violet: rgba(176, 132, 204, 1);
	--orange-pantone: rgba(255, 87, 10, 1);
	--cerulean-crayola: rgba(0, 165, 207, 1);
}

* {
	box-sizing: border-box;
	outline: none;
	padding: 0;
	margin: 0;
	/* border: 1px solid white; */
}

::-webkit-scrollbar {
	display: none;
}

html, body {
	width: 100%;
	height: 100vh;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overscroll-behavior: none;
}

html {
	min-height: calc(100% + env(safe-area-inset-top));
	background-color: var(--eerie-black);
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

body {
	min-height: 100%;
	background: var(--eerie-black);
	display: grid;
	grid-template-columns: minmax(3rem, auto) minmax(3rem, 960px) minmax(3rem, auto);
	grid-template-rows: calc(50px + env(safe-area-inset-top)) 1fr calc(50px + env(safe-area-inset-bottom));
}

a {
	text-decoration: none;
	color: inherit;
}

header.mainHeader {
	grid-area: 1/1/2/4;
	align-self: end;
	text-align: center;
}

header.mainHeader input#search {
	background: none;
	border: none;
	border-bottom: 2px solid var(--sunray);
	width: 50%;
	font-size: .8rem;
}

header.mainHeader input,
header.mainHeader input::placeholder,
header.mainHeader label span.material-symbols-outlined {
	color: var(--sunray);
}

header.mainHeader input,
header.mainHeader input::placeholder {
	text-align: center;
	letter-spacing: .1rem;
}

header.mainHeader input,
header.mainHeader label span {
	vertical-align: middle;
}

main {
	grid-area: 2/2/3/3;
	overflow-y: scroll;
}

main > article.bestPrice {
	width: 100%;
	background-color: var(--gray-web);
	border-radius: 2rem;
	overflow: hidden;
	margin-top: 1.5rem;
}

main > article.bestPrice:hover {
	box-shadow: 0 0 5px var(--sunray) inset;
}

main > article.bestPrice header {
	display: grid;
	grid-template-columns: 150px 3px 2fr 3px 1fr;
	height: 150px;
	align-items: center;
	border: 1px solid var(--sunray);
	border-radius: 2rem;
	position: relative;
}

main > article.bestPrice header div:not(div:first-child) {
	margin: .5rem;
}

main > article.bestPrice header .productPic {
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
	height: 148px;
	width: 150px;
}

main > article.bestPrice header .productPic img {
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
	height: 148px;
	width: 150px;
}

main > article.bestPrice header span.separator {
	height: 100%;
	width: 1px;
	background-color: var(--sunray);
	opacity: .5;
}

main > article.bestPrice header .productName h2 {
	font-size: 1.7rem;
}

main > article.bestPrice header .productName h3 {
	font-size: 1.3rem;
}

main > article.bestPrice header .productMinPrice h2 {
	font-size: 1.7rem;
	white-space: nowrap;
	text-align: end;
}

main > article.bestPrice header .productMinPrice h5 {
	font-size: .8rem;
	white-space: nowrap;
	text-align: end;
}

/* main > article header > span.material-symbols-outlined {
	position: absolute;
	font-size: 2rem;
	top: calc(148px - 1.3rem);
	padding: .3rem;
	background-color: var(--gray-web);
	border: 1px solid var(--sunray);
	border-radius: 5rem;
	color: var(--sunray);
	cursor: pointer;
}

main > article header a {
	position: absolute;
	top: calc(148px - .95rem);
	padding: .4rem .8rem;
	background-color: var(--gray-web);
	border: 1px solid var(--sunray);
	border-radius: 1rem;
} */

/* main > article header a,
main > article header span.material-symbols-outlined {
	font-size: .8rem;
	text-decoration: none;
	color: black;
	vertical-align: text-bottom;
} */

main article.sellerBox {
	overflow: hidden;
	height: auto;
	transition: height .5s ease-in-out;
	width: calc(100% - 4rem);
	margin: 0 auto;
}

main article.sellerBox div.wrapper {
	display: flex;
}

main article.sellerBox div.radius {
	width: 2rem;
	align-items: stretch;
	background-color: var(--gray-web);
	background: linear-gradient(var(--gray-web), var(--sunray));
}

main article.sellerBox div.radius div.innerRadius {
	width: 2rem;
	height: 100%;
	background-color: var(--eerie-black);
}

main article.sellerBox div.radius div.innerRadius.radLeft {
	border-top-right-radius: 2rem;
}

main article.sellerBox div.radius div.innerRadius.radRight {
	border-top-left-radius: 2rem;
}

main article.sellerBox article.sellers {
	flex-grow: 2;
	overflow: hidden;
	padding: .7rem .5rem .7rem .7rem;
	border-bottom-right-radius: 2rem;
	border-bottom-left-radius: 2rem;
	background: linear-gradient(var(--gray-web), var(--sunray));
}

main article.sellerBox article.sellers section.seller {
	display: grid;
	grid-template-columns: 50px 2fr 1fr 40px;
	grid-template-rows: 50px;
	overflow: hidden;
	margin-top: .3rem;
}

main article.sellerBox article.sellers section.seller .sellerLogo {
	border-radius: .3rem;
	overflow: hidden;
}

main article.sellerBox article.sellers section.seller .sellerProductName,
main article.sellerBox article.sellers section.seller .sellerProductPrice,
main article.sellerBox article.sellers section.seller .goPageLink {
	align-self: center;
	margin-left: .3rem;
}

main article.sellerBox article.sellers section.seller .sellerProductName h4 {
	font-size: .9rem;
}

main article.sellerBox article.sellers section.seller .sellerProductPrice {
	text-align: end;
	white-space: nowrap;
}

main article.sellerBox article.sellers section.seller .sellerProductPrice h3 {
	font-size: 1rem;
}

main article.sellerBox article.sellers section.seller .goPageLink{
	text-align: right;
}

main article.sellerBox article.sellers section.seller .goPageLink a span.material-symbols-outlined {
	vertical-align: middle;
	padding: .2rem;
}

/* main article article.chartBox {
	overflow: hidden;
	height: 150px;
	width: 100%;
	background-color: var(--gray-web);
	display: flex;
	border-radius: 2rem;
	padding: 1rem;
}

main article article.chartBox {
	display: flex;
	justify-content: space-around;
}

main article article.chartBox section.query {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4fr 1fr;
}

main article article.chartBox div.topLine {
	grid-area: 1/1/2/2;
	display: flex;
	align-items: flex-end;
	padding: 0 .5rem;
}

main article article.chartBox div.topLine .chart {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

main article article.chartBox div.topLine .chart:nth-child(1) {
	height: 50%;
	background-color: antiquewhite;
}

main article article.chartBox div.topLine .chart:nth-child(2) {
	height: 88%;
	background-color: aquamarine;
}

main article article.chartBox div.topLine .chart:nth-child(3) {
	height: 56%;
	background-color: rgb(172, 128, 75);
}

main article article.chartBox div.topLine .chart:nth-child(4) {
	height: 66%;
	background-color: rgb(75, 172, 164);
}

main article article.chartBox div.topLine .chart:nth-child(5) {
	height: 76%;
	background-color: rgb(172, 75, 166);
}

main article article.chartBox div.topLine .chart img {
	width: 60%;
}

main article article.chartBox div.bottomLine {
	grid-area: 2/1/3/2;
}
main article article.chartBox div.bottomLine .queryDate {
	text-align: center;
	padding: .1rem 1rem;
} */



footer {
	grid-area: 3/1/4/4;
	justify-self: center;
	align-self: center;
}

footer span.material-symbols-outlined {
	font-size: 2rem;
	color: var(--sunray);
	padding: .2rem 1rem;
	border: 1px solid var(--sunray);
	border-radius: 2rem;
	margin: 0 1rem;
}

footer span.material-symbols-outlined:hover {
	text-shadow: 0 0 .3rem var(--sunray);
	cursor: pointer;
	box-shadow: inset 0 0 .2rem var(--sunray);
}




